.dash{
    display: flex-1;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    padding-left: 100px;
    padding-right: 0px;
    color: var(--primary-2);
    height: screen;
}