.dash{
   // position: relative;
    flex: 6;
    margin-left: 265px;
    margin-right: 2px;
    padding: 7px;
    height: screen;
    color: var(--primary-1);
    
}
.rows{
    //border: solid;
}
.cols{
    //border: solid;
}