/* @font-face {
  font-family:imported ;
  src: url(./assets/fonts/Beyond\ Wonderland.ttf);
} */
 @font-face {
  font-family:imported ;
  // src: url(../assets/fonts/Marianne/Marianne-Regular.otf)
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
} 


#root{
  font-family: "imported",sans-serif;
  font-size: 30px;
  margin-left: 0;
  margin-top: 0;
  background-color: var(--bgcolor);
}