/* @font-face {
  font-family:imported ;
  src: url(./assets/fonts/Beyond\ Wonderland.ttf);
} */


#root{
  font-family: "Open sans",sans-serif;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 10%;
}